/* import font family  */

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@700&display=swap');


/* universal Selector USe  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navBar  */

nav {
    background-color: rgb(46, 1, 46);
    color: rgb(240, 237, 237);
    padding: 20px;
    font-family: 'Playpen Sans', cursive;
}

/* ul list  */

nav ul {
    list-style-type: none;
    display: flex;
    gap: 5px;
}

/* Game-Container  */

.gameContainer {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* container  */

.container {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: 'Playpen Sans', cursive;
    position: relative;
}

/* container Div  */

.box {
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* box hover  */

.box:hover {
    background-color: rgb(241, 231, 245);
}

/* gameInfo  */

.gameInfo {
    padding: 0 34px;
    font-family: 'Baloo Da 2', sans-serif;
}

/* line  */

.line {
    background-color: rgb(196, 0, 0);
    height: 3px;
    width: 0;
    position: absolute;
    transition: width 1s ease-in-out;
}

/* image Box  */

.imgBox img {
    width: 0;
    transition: width 1s ease-in-out;
}


/* Utility Classes For Border TBLR */

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

/* button  */

#reset {
    padding: 8px;
    background-color: rgb(241, 231, 245);
    border-radius: 5px;
    border-color: blueviolet;
}

#reset:hover{
    background-color: purple;
    color: whitesmoke;
    font-size: large;
}



@media screen and (max-width: 800px) {
    .gameContainer {
        flex-wrap: wrap;
    }
    .gameInfo {
        margin-top: 35px;
    }

    .gameInfo  h1 {
        font-size: 1.5rem;
    }

    .container{
        grid-template-columns: repeat(3, 20vw);
        grid-template-rows: repeat(3, 20vw);
    }
}

